VITE_SUPABASE_URL=https://vssrmempiaxmivgjeyjc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzc3JtZW1waWF4bWl2Z2pleWpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0OTE1NzUsImV4cCI6MjA4OTA2NzU3NX0.Dae8udG2eTQutdM-raTOcf0CgQ7KeVh3fIEXlbG3Q7w
